<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Author</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
</head>
<body>
  <form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="enter search term here"/>  
    </label></p>
        <input type="submit"></input>
  </form>


  <h1>{{author.author_name}}</h1>

  <h2>Welcome to my author page</h2>
  <p>---------------------------</p>
    
        <label>Entries I've authored or edited:</br>
          <ul>
      {{#entry}}
      <li><a href="/entry/{{entry_id}}">{{entry_title}}</a></label><br/></li>
      {{/entry}}
    </ul>
  <p>---------------------------</p>
    
    <button><a href="/">Home</a></button>
</body>
</html>