<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Confirm</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>  
</head>
<body>
	<form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="enter search term here"/>  
    </label></p>
        <input type="submit"></input>
  </form>

	<h1>You've successfully created a new entry!</h1>

  {{#entry}}
    <label>Title: {{entry_title}}</label><br/>
    <label>Content: {{entry_content}}</label><br/>

  {{#author}}
    <label>Author: <a href="/author/{{author_id}}">{{author_name}}</a></label><br/>
 {{/author}} 
 
    <p>Click<a href="/entry/{{entry_id}}"> here </a>to see your new entry page</p>
	{{/entry}}
		<button><a href="/">Home</a></button>
</body>
</html>