<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Confirm</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
</head>

<body>

<form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="enter search term here"/>  
    </label></p>
        <input type="submit"></input>
  </form>


	<h1>You are added as an author:</h1>

    Name:  {{author_name}}</br>
    Email: {{email}}</br>
    Phone: {{phone}}</br>


	<button><a href="/">Home</a></button>
</body>