 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>confirm delete</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Roboto' rel='stylesheet' type='text/css'>

</head>
</head>
<body>

  <ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/new_entry'>Add an article</a></li>
  <li><form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="search"/>  
    </label></p>
        <input type="submit"></input>
    </form></li>
</ul>
<!-- {{#entry}} -->
  <h1>You have deleted your entry!"</h1>
<!-- {{/entry}} -->
  <button><a href='/'>Home</a></button>

</body>
</html>