<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Confirm</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Roboto' rel='stylesheet' type='text/css'>

</head>
</head>
<body>
	<ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/new_entry'>Add an article</a></li>
  <li><form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="search"/>  
    </label></p>
        <input type="submit"></input>
    </form></li>
</ul>
{{#entry}}
	<h1>You've successfully updated an entry</h1>

		<label>Title: {{entry_title}}</label><br/>
		<label>Content: {{entry_content}}</label><br/>

{{#author}}
    <label>Author:<a href="/author/{{author_id}}">{{author_name}}</a></label><br/>
{{/author}}   
    <p>Click<a href="/entry/{{entry_id}}"> here </a>to see your updated entry page</p>
{{/entry}}


		<button><a href="/">Home</a></button>
</body>
</html>