<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Confirm</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" /> 
</head>
<body>
	<form action="/search_results" method="POST">
		<p><label>
			Search:
			<input type="text" name="search" placeholder="enter search term here"/>  
		</label></p>
		<input type="submit"></input>
	</form>
{{#entry}}
	<h1>History of changes for entry "{{entry_title}}"</h1>
{{/entry}}
	
	
	<button><a href="/">Home</a></button>
</body>
</html>