<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>History</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> 
</head>
<body>
	<form action="/search_results" method="POST">
		<p><label>
			Search:
			<input type="text" name="search" placeholder="enter search term here"/>  
		</label></p>
		<input type="submit"></input>
	</form>

						<!-- SEARCH -->
{{#entry_title}}
	<h1>History of changes for entry "{{entry_title}}"</h1>
{{/entry_title}}

	<ol>
{{#entry}}
	<li><a href="/entry/{{entry_id}}/{{primary_id}}">{{entry_title}}</a></li></br>
{{/entry}}


	<button><a href="/entry/{{entry_id}}">Back to entry</a></button>


	</ol>
	
	</br><button><a href="/">Home</a></button>
</body>
</html>