<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>History</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Roboto' rel='stylesheet' type='text/css'>

</head>
</head>
<body>
	<div class="search">
	<ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/new_entry'>Add an article</a></li>
  <li><form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="search"/>  
    </label></p>
        <input type="submit"></input>
    </form></li>
</ul>	
</div>
						<!-- SEARCH -->
	<h1>History</h1>

	<ol>
{{#entry}}
	<li><a href="/entry/{{entry_id}}/{{primary_id}}">{{entry_title}}</a></li></br>
{{/entry}}


	<!-- <button><a href="/entry/{{entry_id}}">Back to entry</a></button> -->


	</ol>
	
	</br><button><a href="/">Home</a></button>
</body>
</html>