<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
</head>

<body>

	<form action="/search_results" method="POST">
		<p><label>
			Search:
			<input type="text" name="search" placeholder="search"/>  
		</label></p>
		<input type="submit"></input>
	</form>
<!-- {{#entry}} -->
		<h1>{{entry_title}}</h1>
		<!-- <p>{{entry_content}}</p> -->
		{{{rendered}}}
		<p>-----------------</p>
		<p>{{created_at}}</p>

	
	<p>Author:<a href="/author/{{author_id}}">{{author.author_name}}</a></p>
	<button><a href="/entry/{{entry_id}}">Back to entry</a></button>
<!-- {{/entry}} -->
	<button><a href="/">Home</a></button>
</body>
</html>