<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>New Author</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
</head>

<body>
<form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="enter search term here"/>  
    </label></p>
        <input type="submit"></input>
  </form>


<form action="/new_author" method="POST">
	<label>
		Name:
	<input type="text" name="author_name" placeholder="enter name"/>
	</label>

	<label>
		Email:
		<input type="text" name="email" placeholder="enter email">
	</label>
	
	<label>
		Phone:
		<input type="text" name="phone" placeholder="enter phone">
	</label>

	<input type="submit"/>

</form>

<button><a href="/">Home</a></button>
</body>