<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Create Entry</title>
</head>

<body>

  <form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="enter search term here"/>  
    </label></p>
        <input type="submit"></input>
  </form>
  
  <h1>Create a new entry here:</h1> 
  <form action="/new_entry" method="POST">
    <label>
      Title:
      <input type="text" name="entry_title" placeholder="title"/>  
    </label>
    
    <label>
      Content:
		<input type="text" name="entry_content" placeholder="content"/>  
	 </label>   

	 <label>
   	 Author:
    <select name="select">
  <option value="value1" selected>Choose an existing author</option> 
  <option value="value2">Tova</option> 
  <option value="value3">Ilana</option>
  <option value="value4">Sarah</option>
  <option value="value5"><a href="/new_author">Add a new author</a></option>

</select>
     <input type="submit"/>

      <p>or click <a href='/new_author'>here</a> to add yourself as an author</p>
  <button><a href = '/'>CANCEL and go back HOME</a></button>
</body>
</html>