<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>New Author</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
	<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Roboto' rel='stylesheet' type='text/css'>

</head>
</head>

<body>
<ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/new_entry'>Add an article</a></li>
  <li><form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="search"/>  
    </label></p>
        <input type="submit"></input>
    </form></li>
</ul>

<h2>Create a new author</h2>
<form action="/new_author" method="POST">
	<label>
		Name:
	<input type="text" name="author_name" placeholder="enter name"/>
	</label>

	<label>
		Email:
		<input type="text" name="email" placeholder="enter email">
	</label>
	
	<label>
		Phone:
		<input type="text" name="phone" placeholder="enter phone">
	</label>

	<input type="submit"/>

</form>

<button><a href="/">Home</a></button>
</body>