<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Create Entry</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Roboto' rel='stylesheet' type='text/css'>

</head> 
</head>

<div class="container">
<body>

 <ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/new_entry'>Add an article</a></li>
  <li><form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="search"/>  
    </label></p>
        <input type="submit"></input>
    </form></li>
</ul>
  
  <h1>Create a new entry here:</h1> 
  <form action="/new_entry" method="POST">
  <!-- <div class="form-group"> -->
    <label>
     Author:
  <select type="text" name= "author_id">
      <option value="0"></option>
    {{#authors}}
      <option value="{{author_id}}">{{author_name}}</option>
    {{/authors}}
  </select>
  </label>
<!-- </div> -->
    <!-- <div class="form-group"> -->
    <label>
      Title:
      <!-- <input type="text" name="entry_title" placeholder="title"/>  -->
      <textarea name="entry_title" cols="50" rows="1" placeholder="title"></textarea> 
    </label>
<!-- </div> -->
    <label>
      Content:

		<!-- <input type="text" name="entry_content" placeholder="content"/>  -->
    <textarea name="entry_content" cols="50" rows="10" placeholder="please use markdown when creating your entry"></textarea>
	 </label>   
</div>

     <input type="submit"/>

      <p>or click <button><a href='/new_author'>here</a></button> to add yourself as an author</p>
  <button><a href = '/'>CANCEL and go back HOME</a></button>
</body>
</div>
</html>