<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/> 
</head>

<body>

	<form action="/search_results" method="POST">
		<p><label>
			Search:
			<input type="text" name="search" placeholder="enter search term here"/>  
		</label></p>
		<input type="submit"></input>
	</form>

	{{#entry}}
		<h1>{{entry_title}}</h1>
		<p>{{entry_content}}</p>
		<p>-----------------</p>
		<p>{{created_at}}</p>

	{{#author}}
		<p>Author:<a href="/author/{{author_id}}">{{author_name}}</a></p>
	{{/author}}
	<button><a href="/edit/entry/{{entry_id}}">Edit this entry<a></button>
	<button><a href="/delete/entry/{{entry_id}}">Delete this entry<a></button>

	<button><a href="/history/{{entry_id}}">Show History</a></button>
	
	<p>Sign up to receive updates about this entry- click <a href="/subscribe/{{entry_id}}">here</a> and fill out the subscribe form</p>
	{{/entry}}

	<!-- <p>To receive updates about this topic, fill out the form below</p> -->

	<!-- <form action="/subscribe" method="POST">

	 <label>
      Email:
		<input type="text" name="email" placeholder="email"/>  
	 </label>   
 
 	<label>
      Phone:
		<input type="text" name="phone" placeholder="phone"/>  
	 </label> 
	
		<input type="submit"></input>
	</form> -->
	<button><a href="/">Home</a></button>
</body>
</html>