<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<title>{{title}}</title>
</head>

<body>

	<form action="/search_results" method="POST">
		<p><label>
			Search:
			<input type="text" name="search" placeholder="enter search term here"/>  
		</label></p>
		<input type="submit"></input>
	</form>

	<h1>TEST</h1>
	{{#entry}}
		<h1>{{entry_title}}</h1>
		<p>{{entry_content}}</p>
	<footer>
		{{author_first_name}} {{author_last_name}}
		{{date}}
	</footer>
	{{/entry}}


	<p>To receive updates about this topic, fill out the form below</p>

	<form action="/confirm_subscription" method="POST">

	<label>
	First Name:
		<input type="text" name="sub_first_name" placeholder="subcriber first name"/>
	</label>
	
	Last Name:
	<input type="text" name="sub_last_name" placeholder="subcriber last name"/>
	</label>

	 <label>
      Email:
		<input type="text" name="email" placeholder="email"/>  
	 </label>   
 
 	<label>
      Phone:
		<input type="text" name="phone" placeholder="phone"/>  
	 </label> 
	
		<input type="submit"></input>
	</form>

	<button><a href="/">Home</a></button>
</body>
</html>