<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Subscribe</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
</head>

<body>
<form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="enter search term here"/>  
    </label></p>
        <input type="submit"></input>
  </form>

<h3>To subscribe to updates, enter your email address and/or phone number</h3>
<form action="/subscribe/{{entry_id}}" method="POST">

	 <label>
      Email:
		<input type="text" name="email" placeholder="email"/>  
	 </label>   
 
 	<label>
      Phone:
		<input type="text" name="phone" placeholder="phone"/>  
	 </label>  

	 <!-- <label>
	 	Entry Title:
	 <select name= "entry_title">
    {{#entries}}
      <option value="{{entry_title}}">{{entry_title}}</option>
    {{/entries}}
  </select>
   </label> -->

	<input type="submit"></input>

<button><a href="/">Home</a></button>



</form>