 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>edit an entry</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Roboto' rel='stylesheet' type='text/css'>

</head>
</head>
<body>

  <ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/new_entry'>Add an article</a></li>
  <li><form action="/search_results" method="POST">
     <p><label>
      Search:
      <input type="text" name="search" placeholder="search"/>  
    </label></p>
        <input type="submit"></input>
    </form></li>
</ul>


{{#entry}}
  <h1>Edit Entry "{{entry_title}}"</h1>
  <form action="/edit/entry/{{entry_id}}" method="POST">
  <input type="hidden" name="_method" value="PUT">

    <label>
      Title:
      <textarea name="entry_title" cols="50" rows="1" placeholder="title" required>{{entry_title}}</textarea> 
      <!-- <input type="text" name="entry_title" value="{{entry_title}}"/>   -->
    </label>
    
    <label>
      Content:
      <textarea name="entry_content" cols="50" rows="10" placeholder="content" required>{{entry_content}}</textarea>

<!--       <input type="text" name="entry_content" value="{{entry_content}}"/>  
 -->    </label>
     <label>
     Author:
  <select type="text" name= "author_id">
    <option value="0"></option>
    {{#authors}}
      <option value="{{author_id}}">{{author_name}}</option>
    {{/authors}}
  </select>
  </label>
     <input type="submit"/>
    <p>or click <a href='/new_author'>here</a> to add a new author</p>
  </form>
  <button><a href = '/'>CANCEL</a></button>

  <button><a href="/entry/{{entry_id}}">Back to Entry</a></button>
{{/entry}}
</body>
</html>