/*CSS stylesheet for project_one*/

body {
	background-color: #9C94B5;
}

a{
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

textarea, input {
	border: 1px solid blue;
	/*padding: 20px;*/
	margin: 20px;
}

button {
	border-radius: 25px;
}

