/*CSS stylesheet for project_one*/

body {
	margin-left: 50px;
	margin-right: 50px;
	background-color: #47D1FF;
	font-family: roboto;
	font-size: 18px;
}

h1{
	text-align: center;
	margin-left: 250px;
	font-family: 'Cabin Sketch';
	font-size: 45px;

}

a{
	text-decoration: none;
	color: #680000;
}

a:hover {
	font-weight: bold;
}

button {
	border-radius: 25px;
	font-size: 12px;
}

.search, input, textarea {
	border-radius: 5px;
	padding: 5px;
	margin: 0px;
	vertical-align: middle;
	font-size: 12px;
}

.nav{
	list-style-type: none;
	float: right;
	font-size: 19px;
	font-family: roboto;
}
